<div class="fancy-box">
    <h3 class="fancy-title">اطلاعات تماس</h3>
    <p>
        علاوه بر فرم سمت راست، شما می تونید از طرق زیر باهامون ارتباط برقرار کنید.
    </p>
    <ol>
        <li>شماره تماس: 989381065373+</li>
        <li>پست الکترونیکی: info[at]codebase.ir</li>
    </ol>
</div>