<div class="primary">
    @*<pre class="brush: js">
        public class Test {
            public string Prop {get; set;}
        }
    </pre>*@
    <p class="intro">
        کدبیس.آی‌آر قراره با ایجاد یک فضای دوستانه و صمیمی،
        بستری رو برای همکاری تیمی و تولید محصولات نرم افزاری بر اساس نیاز کاربران
        فراهم بیاره. ما در حال حاضر از ابتدای راه هم کمی عقب تریم. از این موضوع واهمه ای نداریم.
        چون به توانایی هامون ایمان داریم. و میدونیم که می تونیم. :) منتظر خبرای خوب باشید.
    </p>
    <h2>به کدبیس بپیوندید...</h2>
    <p>
        دوستان در صورت تمایل می تونید درخواست هاتونو از طریق صفحه
        @Html.ActionLink("تماس با ما", "Index", "Contact", null) ارسال کنید تا در اسرع وقت باهاتون تماس بگیریم.
        در حال حاضر شرایط خاصی برای پیوستن به ما وجود نداره. فقط می بایست در زمینه های زیر فعالیت داشته باشید.
    </p>
    <ul>
        <li>برنامه نویس</li>
        <li>فعال در حوزه آی تی</li>
        <li>توسعه دهنده وب</li>
        <li>طراح وب</li>
    </ul>
    <h2>اعضای تیم کدبیس...</h2>
    @{ Html.RenderAction("Members"); }
</div>