<div class="intro-box">
    <p class="intro">
        سلام. من محمدصادق شاد هستم. 22 سالمه و ساکن شهرستان قوچانم. کارم پیاده سازی برنامه های تحت وب تحت تکنولوژی های مایکروسافت هستش.
        جدیدا تصمیم گرفتم تا یه وب سایت شخصی واسه خودم راه بندازم تا از این طریق بتونم بیشتم با دیگران ارتباط برقرار کنم.
    </p>
    <p class="intro">
        اگه می خواین بیشتر با من آشنا بشین می تونید به صفحه ی @Html.ActionLink("درباره من", "Index", "About") برید.
        همچنین اگه می خواین باهام ارتباط برقرار کنید یه فرم تماس هم توی صفحه ی @Html.ActionLink("تماس با من", "Index", "Contact") واسه این کار در نظر گرفتم تا باهام در ارتباط باشید.
    </p>
</div>