<html>
    <head>
        <style type="text/css">
            body { direction: rtl; }
        </style>
    </head>
    <body>
        @RenderBody()
        <br />
        ---
        <br />
        مرسی!
    </body>
</html>